* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Open Sans';
	color: #272822;
}

body {
	background-color: #272822;
	text-align: center;
}

.result {
	background-color: #E4E4E4;
	display: inline-block;
	width: 100%;
	padding: 20px;
	box-shadow: 0px -2px 4px rgba(0,0,0,0.3);
	font-size: 39px;
	transition: all 0.3s ease-in-out;
}

button {
	width: 100%;
	padding: 30px;
	cursor: pointer;
	color: #C1C1C1;
	background-color: #272822;
	border: none;
	font-size: 30px;
	box-shadow: 0px -2px 4px rgba(0,0,0,0.3);
	outline: none;
}